<h1>Thinking in components</h1>
    {{md  'content/intro.md' }}
        {{md  'content/why.md' }}
        {{md  'content/deliverables.md' }} 
            {{md  'content/wireframe-components.md' }}
            {{md  'content/styletiles.md' }}
            {{md  'content/styleguides.md' }} 
            {{md  'content/gel.md' }}
            {{md  'content/pattern-libraries.md' }}

        {{md  'content/getting-buyin.md' }}